* {
  margin: 0;
  padding: 0;
}

:root {
  --lightBlue: #9DC3D2;
  --charcoal: #395460;
  --silver: #B3BFC3;
  --lemonCheffon: #EAE7C3;
  --black: #060A0C;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(to bottom left, var(--lightBlue), var(--silver));
}

header {
  color: white;
  background-color: var(--black);
  height: 170px;
  font-size: larger;
  display: flex;
  flex-direction: row;
}

header h1 {
  color: var(--lemonCheffon);
  margin: auto;
}

header .list_div {
  margin: auto;
}

header .list_div a {
  display: inline;
  text-decoration: none;
  color: var(--lemonCheffon);
  background-color: var(--charcoal);
  border-radius: 15px;
  margin: 5px;
  padding: 5.5px;
}

.hidden {
  display: none;
}

form {
  margin: auto;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #444;
  border: none;
  color: #fff;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: dodgerblue;
}

button {
  margin-left: 30px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: darkblue;
  color: lightblue;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  color: var(--silver);
}

.blog h3 {
  color: #fff;
}

.write-blog-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.write-blog-btn:hover {
  background-color: darkblue;
}

footer {
  margin-top: 50px;
  text-align: center;
  background-color: var(--black);
  color: var(--lemonCheffon);
  padding: 20px;
  font-size: 14px;
}

.blog-card {
  background-color: #333;
  margin: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: white;
}

.blog-details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  margin-top: 100px;
  max-height: 80vh;
  overflow-y: auto;
  color: var(--lemonCheffon);
  transform: translate(-50%, -50%);
  background-color: var(--charcoal);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@media screen and (max-width: 700px) {
  header {
      color: white;
      background-color: var(--black);
      height: 170px;
      font-size: larger;
      display: flex;
      flex-direction: column;
  }
  header .list_div {
      margin: auto;
      margin-bottom: 20px;
  }
  .blog-details {
      width: 300px;
  }
}

#loginForm,
#signupForm,
#blogForm {
  margin: 30px;
}

#loginForm button,
#signupForm button,
#blogForm button,
.blog-details button {
  margin: 0;
}

body main #searchForm {
  margin: 50px;
  display: flex;
  flex-direction: row;
}

body main #searchForm button {
  height: 35px;
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
